.grid-box {
  height: 15px;
  width: 15px;
  border-radius: 2px;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -6px -6px -6px white;
}

.grid-box-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  background-color: transparent;
}

.active {
  background-color: var(--green);
}

.missed {
  background-color: var(--dark-red);
}

.fixed {
  position: sticky;
  top: 0px;
  background-color: var(--dark-blue);
}
