.grid-box {
  height: 15px;
  width: 15px;
  border-radius: 2px;
  background-color: rgba(112, 128, 144, 0.5);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-box-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
}

.active {
  background-color: seagreen;
}

.missed {
  background-color: #e74c3c;
}
